<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- development version, includes helpful console warnings -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">}
        <div class="container my-4">
            <h3 style="text-align: center;">Filtrado por género</h3>
            <div class="row mt-4">
                <div class="col-6">
                    <div class="card badge-dark">
                        <h4 style="text-align: center;" class="mt-2">Hombres</h4>
                        <div class="col-3 mx-auto p-2" style="text-align: center;">
                            {{hombres.length}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card badge-dark">
                        <h4 style="text-align: center;" class="mt-2">Mujeres</h4>
                        <div class="col-3 mx-auto p-2" style="text-align: center;">
                            {{mujeres.length}}
                        </div>
                    </div>
                </div>
            </div>
            <h3 style="text-align: center;" class="mt-4">Filtrado por estado</h3>
            <div class="row mt-4">
                <div class="col-6">
                    <div class="card badge-dark">
                        <h4 style="text-align: center;" class="mt-2">Leve</h4>
                        <div class="col-3 mx-auto p-2" style="text-align: center;">
                            {{estado.leve.length}}
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="card badge-dark">
                        <h4 style="text-align: center;" class="mt-2">Asintomático</h4>
                        <div class="col-3 mx-auto p-2" style="text-align: center;">
                            {{estado.asintomatico.length}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mx-auto">
                <ul class="list-group mt-5">
                    <li class="list-group-item" v-for="(asintomatico, index) of estado.asintomatico">
                        {{asintomatico.id_de_caso}}
                        <input type="text" class="col-2" :value="asintomatico.ciudad_de_ubicaci_n"> - {{asintomatico.ciudad_de_ubicaci_n}} - {{asintomatico.departamento}} - {{asintomatico.edad}} -
                        <input type="text" class="col-2" :value="asintomatico.tipo"> - {{asintomatico.pa_s_de_procedencia}} <button class="btn btn-danger btn-sm ml-4" @click="deleteTarea(index)">X</button> </li>
                </ul>
            </div>
        </div>
    </div>
<script src="scripts/getData.js"></script>
</body>
</html>